{% extends 'index.html' %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
	.product--size {
		margin: 20px 0;

	}

	#shoesize {
		display: inline-block;
		width: 35px;
		border: 1px solid #999;
		border-radius: 4px 4px;
		text-align: center;
		padding: 1px 2px;
		text-transform: uppercase;
		cursor: pointer;

	}

	#shoesize.active {
		color: #fff;
		background: #008080;
	}

	#lens {
		height: 125px;
		width: 125px;
		border: 2px solid black;
	}
</style>
{% endblock head %}




<!-- Start Header Area -->

{% block navbar %}


<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}"
						alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
						<li class="nav-item active"><a href="{% url 'productList' %}" class="nav-link">Shop</a>
							<!-- <ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
										<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
										<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
										<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
										<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
									</ul> -->
						</li>
						<!-- <li class="nav-item active"><a href="{% url 'productList' %}" class="nav-link">Female</a> -->
						<!-- <ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Women</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul> -->
						<!-- </li> -->
						<li class="nav-item">
							<a href="#" class="nav-link">Wishlist</a>
							<!-- <ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
										<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul> -->
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item nav-link"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
						<li class="nav-item nav-link">
							<button class="search "><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"><span class="ti-user"></span></a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Profile</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
							</ul>
						</li>

						{% else %}
						<li class="nav-item"><a href="{% url 'logIn' %}" class="nav-link"><span>Login</span></a>

						{% endif %}


					</ul>

				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input type="text" class="form-control" id="search_input" placeholder="Search Here">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>
</header>
{% endblock navbar %}

<!-- End Header Area -->

{% block main %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>{{products.brand_id.brand_name}}</h1>
				<h1>{{products.category_id.name}}</h1>
				<nav class="d-flex align-items-center">
					<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="{% url 'productList' %}">Shop<span class="lnr lnr-arrow-right"></span></a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">


					<!-- <div class="single-prd-item" id="img-container">
						<div id="lens"></div>
						<img class="img-fluid" id="featured-img" src="{% static 'img/i1.jpg' %}" alt="">
					</div> -->
					<div class="single-prd-item" id="img-container">
						<div id="lens"></div>
						<img class="img-fluid" id="featured-img" src="{{products.img.url}}" alt="">
					</div>
					{% for p_img in p_image %}
					<div class="single-prd-item">
						<div id="lens"></div>
						<img class="img-fluid" src="{{p_img.image.url }}" alt="">
					</div>
					{% endfor %}



				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>{{products.brand_id.brand_name}}</h3>
					<h3>{{products.product_id.title}}</h3>
					<h2 class="product-price">Rs {{ products.price }}</h2>
					<ul class="list">
						<li><a class="active" href="#"><span>Category</span> : {{products.category_id.name}}</a></li>
						<li><a class="active" href="#"><span>Gender</span> : {{products.get_gender_display}}</a></li>
						{% if products.stock %}
						<li><a class="active" href="#"><span>Availibility</span> : In Stock</a></li>
						{% else %}
						<li><a class="active" href="#"><span>Availibility</span> : Not In Stock</a></li>
						{% endif %}
					</ul>
					<p></p>
					<div class="product--size">
						<span class="active">Size </span>
						<br>
						{% for sz in sizes %}
						<span id="shoesize">{{sz.size_value}}</span>
						{% endfor %}
					</div>
					<div class="product_count">
						<label for="qty">Quantity:</label>
						<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
							class="input-text qty">
						<button
							onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
						<button
							onclick="var result = document.getElementById('sst'); var sst = result.value; if (!isNaN(sst) && sst > 0) result.value--; return false;"
							class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>

					</div>
					<div class="card_area d-flex align-items-center">
						<input type="hidden" value="{{ products.id }}" class="product-id" name="" id="">
						<input type="hidden" value="{{ products.product_id.title }}" class="product-title" name="" id="">
						<!-- <a class="primary-btn" href="" id="add-to-cart-btn">Add to Cart</a> -->
						<button type="submit" id="add-to-cart-btn" class="primary-btn" style="border: none;">Add to Cart</button>
						<!-- <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a> -->
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
					aria-selected="true">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Specification</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
					aria-controls="review" aria-selected="false">Reviews</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>{{products.product_id.description}}</p>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<h5>Color</h5>
								</td>
								<td>
									<h5>{{products.color_id.color_value}}</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Size</h5>
								</td>
								<td>
									<h5>{{products.size_id.size_value}}</h5>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>4.0</h4>
									<h6>(03 Reviews)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Based on 3 Reviews</h3>
									<ul class="list">
										<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="review_list">
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{% static 'img/product/review-1.png' %}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{% static 'img/product/review-2.png' %}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{% static 'img/product/review-3.png' %}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Review</h4>
							<p>Your Rating:</p>
							<ul class="list">
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
							</ul>
							<p>Outstanding</p>
							<form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
								novalidate="novalidate">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Your Full name" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Your Full name'">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="email" class="form-control" id="email" name="email"
											placeholder="Email Address" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Email Address'">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="number" name="number"
											placeholder="Phone Number" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Phone Number'">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="message" id="message" rows="1"
											placeholder="Review" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Review'"></textarea></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit" value="submit" class="primary-btn">Submit Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

{% endblock main %}

{% block script %}
<script>
	var sizes = jQuery(".product--size").find("span");
	sizes.click(function () {
		sizes.removeClass("active");
		$(this).addClass("active");
	});
</script>


<script src="{% static 'js/img_zoom.js' %}"></script>

<script src="{% static 'js/function.js' %}"></script>

{% endblock script %}